<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuiku.dao.SiteDao">

    <insert id="insert" parameterType="com.tuiku.dao.Site">
        INSERT site (category, name, url, brief, date, userId)
        VALUES(#{category}, #{name}, #{url}, #{brief}, #{date}, #{userId})
    </insert>

    <select id="getAllByCategory" resultType="com.tuiku.dao.Site">
        SELECT * FROM site where category=#{category};
    </select>
    <select id="getAll" resultType="com.tuiku.dao.Site">
        SELECT * FROM site;
    </select>

</mapper>