<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuiku.dao.ThemeDao">

    <insert id="insert" parameterType="com.tuiku.dao.Theme">
        INSERT theme (category, name, url, brief)
        VALUES(#{category}, #{name}, #{url}, #{brief})
    </insert>

    <select id="getAllByCategory" resultType="com.tuiku.dao.Theme">
        SELECT * FROM theme where category=#{category};
    </select>
    <select id="getAll" resultType="com.tuiku.dao.Theme">
        SELECT * FROM theme;
    </select>

</mapper>